In [163]:
import pandas as pd
df = pd.read_csv('Krisha_data.csv')

# Знакомство с нашими данными

In [166]:
df.head()

,listing_id,title,property_type,rooms,area_m2,price_kzt,city,district,photos_count,published_at,url,scraped_at
0,1002131078,"2-комнатная квартира 72 м² 36 этаж, Жалайыр",Недвижимость,2.0,72.0,36500000.0,Недвижимость В Алматы,Алатауский р-н,0,2025-05-31T00:00:00,https://krisha.kz/a/show/1002131078?srchid=019...,2025-05-31T01:37:44.320585
1,1002131029,"3-комнатная квартира 87.5 м² 416 этаж, Егизб...",Недвижимость,3.0,87.5,68000000.0,Недвижимость В Алматы,Бостандыкский р-н,0,2025-05-31T00:00:00,https://krisha.kz/a/show/1002131029?srchid=019...,2025-05-31T01:37:47.650520
2,1002130797,"3-комнатная квартира 120 м² 12 этаж, мкр Баг...",Недвижимость,3.0,120.0,97000000.0,Недвижимость В Алматы,Бостандыкский р-н,0,2025-05-31T00:00:00,https://krisha.kz/a/show/1002130797?srchid=019...,2025-05-31T01:37:52.281674
3,761492867,"3-комнатная квартира 152.6 м² 44 этаж, Омаро...",Недвижимость,3.0,152.6,84000000.0,Недвижимость В Алматы,Медеуский р-н,0,2025-05-31T00:00:00,https://krisha.kz/a/show/761492867?srchid=0197...,2025-05-31T01:37:55.678862
4,1001548773,"4-комнатная квартира 200 м² 46 этаж, Тимиряз...",Недвижимость,4.0,200.0,240000000.0,Недвижимость В Алматы,Бостандыкский р-н,0,2025-05-31T00:00:00,https://krisha.kz/a/show/1001548773?srchid=019...,2025-05-31T01:37:59.069880

In [168]:
df.columns

Index(['listing_id', 'title', 'property_type', 'rooms', 'area_m2', 'price_kzt',
       'city', 'district', 'photos_count', 'published_at', 'url',
       'scraped_at'],
      dtype='object')

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     623 non-null    int64
 1   title          623 non-null    object
 2   property_type  623 non-null    object
 3   rooms          580 non-null    float64
 4   area_m2        622 non-null    float64
 5   price_kzt      623 non-null    float64
 6   city           623 non-null    object
 7   district       601 non-null    object
 8   photos_count   623 non-null    int64
 9   published_at   623 non-null    object
 10  url            623 non-null    object
 11  scraped_at     623 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 58.5+ KB

In [172]:
df.describe()

         listing_id       rooms      area_m2     price_kzt  photos_count
count  6.230000e+02  580.000000   622.000000  6.230000e+02         623.0
mean   8.923536e+08    2.396552    96.485418  7.000181e+07           0.0
std    1.406652e+08    1.068301   132.548779  7.867002e+07           0.0
min    6.676849e+08    1.000000     2.400000  5.000000e+05           0.0
25%    7.601398e+08    2.000000    47.600000  2.950000e+07           0.0
50%    1.001013e+09    2.000000    68.550000  4.200000e+07           0.0
75%    1.001828e+09    3.000000   103.217500  8.450000e+07           0.0
max    1.002131e+09    6.000000  2160.000000  7.500000e+08           0.0

### 1. Подготовка и очистка данных (data cleaning)

In [155]:
df.isna().mean().sort_values(ascending = False)

rooms            0.069021
district         0.035313
area_m2          0.001605
listing_id       0.000000
title            0.000000
property_type    0.000000
price_kzt        0.000000
city             0.000000
photos_count     0.000000
published_at     0.000000
url              0.000000
scraped_at       0.000000
dtype: float64

In [215]:
df = df.dropna(subset=['area_m2', 'rooms'])
df = df[(df['price_kzt'] != 0) & (df['area_m2'] != 0) & (df['rooms'] != 0)]

In [217]:
df.isna().mean().sort_values(ascending = False)

district         0.02931
listing_id       0.00000
title            0.00000
property_type    0.00000
rooms            0.00000
area_m2          0.00000
price_kzt        0.00000
city             0.00000
photos_count     0.00000
published_at     0.00000
url              0.00000
scraped_at       0.00000
dtype: float64

####  Преобразовать

In [222]:
df = df.rename(columns={'published_at': 'datetime'})

In [228]:
df.columns

Index(['listing_id', 'title', 'property_type', 'rooms', 'area_m2', 'price_kzt',
       'city', 'district', 'photos_count', 'datetime', 'url', 'scraped_at'],
      dtype='object')

In [230]:
df['district']

0           Алатауский р-н
1        Бостандыкский р-н
2        Бостандыкский р-н
3            Медеуский р-н
4        Бостандыкский р-н
              ...
575              Туран р-н
576    Аль-Фарабийский р-н
577        Каратауский р-н
578        Каратауский р-н
579        Каратауский р-н
Name: district, Length: 580, dtype: object